<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <target name="exceptionlog" xsi:type="File" fileName="serverlog.csv">
      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level:upperCase=true}"/>
        <column name="message" layout="${message}" />
        <column name="callsite" layout="${callsite:includeSourcePath=true:skipFrames=1}" />
        <column name="stacktrace" layout="${stacktrace:topFrames=10:skipFrames=1}" />
        <column name="exception" layout="${exception:format=ToString}"/>
      </layout>
    </target>
    <target name="logaltv" xsi:type="AltV" layout="[${date:format=HH\:mm\:ss}][${level}] ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logaltv" />
    <logger name="*" minlevel="Warn" writeTo="exceptionlog" />
  </rules>
</nlog>