.sideBar {
    position: absolute;
    margin-left: 59.5%;
    width: 14%;
    height: 75%;
    background-color: var(--main-bg-color);

    border: solid;
    border-color: var(--main-choicev-color);
    border-width: 1px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.singleSideBar {
    display: grid;
    grid-template-rows: 30% 19% 19% 32%;
}

.sideBarElement {
    height: 100%;
    width: 100%;
}

.dropSpotBox {
    width: 90%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0 auto;
}

.dropSpotBoxTitle {
    font-size: 1.4vw;
    text-align: left;
    padding-left: 1vw;
    color: var(--main-font-color);
    font-family: var(--main-font-family);
    display: table-cell;
    vertical-align: middle;
}

.dropSpot {
    transition: 0.2s;
    margin: 1.2vh auto;
    background-color: var(--sec-bg-color);
}

.hover {
    background-color: var(--main-choicev-color);
    transform: scale(1.1, 1.1);
}

.useHover {
    background-color: #3C910F;
    transform: scale(1.1, 1.1);
}

.deleteHover {
    background-color:#CC1006;
    transform: scale(1.1, 1.1);
}

#clothesHover {  
    width: 7vh;
    height: 7vh;
    background-position: center;
    background-size: 95% 95%;
    background-repeat: no-repeat;
    margin-top: 0.75vw;
    background-color: var(--sec-bg-color);
    margin: 0.75vw auto;
}

.clothesSelection {
   color: white;
   position: absolute;
   width: 10vh;
   height: 38vh;

   margin-top: -24.5vh;
   margin-left: 25vh;

   background-color: var(--main-bg-color);
   
   border: solid;
   border-color: var(--main-choicev-color);
   border-width: 1px;

   z-index: 100;

   display: grid;
   grid-row: 1fr 1fr 1fr 1fr 1fr;
}